/* Reset */
html {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Variables */
:root {
  --color-titulos: white;
  --color-letras: rgb(44, 177, 186);
  --color-sombra: lightblue;
}

/* Body */
body {
  background-image: url(https://i.redd.it/vxb5lk0zxra71.png);
  background-size: cover;
  background-position: center;
  min-height: 100dvh;
  min-width: 100dvw;
}

.jd-container{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  height: 50dvh;
}

@media (max-width: 800px){
  .jd-container-top{
    position: absolute;
    top: 50px;
    height: 40dvh;
    max-width: 70%;
  }
}

@media (max-width: 800px){
  #jd-container-down{
    position: absolute;
    bottom: 50px;
    margin-left: 48px;
    height: 40dvh;
    max-width: 70%;
  }
}

/* Letras */
.jd-name {
  color: var(--color-titulos);
  text-shadow: 1px 1px 5px black;
  font-size: 2rem;
}

.jd-content-title {
  font-size: 1.8rem;
}

.letter-content {
  color: var(--color-letras);
  text-shadow: 1px 1px 5px rgb(3, 3, 55);
  font-size: 1.5rem;
}

@media (max-width: 1100px){
  .jd-name {
    font-size: 1.5rem;
  }

  .jd-content-title {
    font-size: 1.2rem;
  }

  .letter-content {
    font-size: 1.2rem;
  }
}

.speciality {
  background-color: rgb(8, 192, 205);
  border-radius: 8px;
  font-size: 1rem;
}

.git-icon-container {
  height: 25px;
}

@media (max-width: 1300px){
  .speciality {
    font-size: 0.75rem;
  }

  .git-icon {
    height: 0.75rem;
  }

  .git-icon-container {
    height: 20px;
  }
}



/* Foto */
.jd-photo {
  height: 35dvh;
  border-radius: 180px;
  box-shadow: 1px 1px 10px var(--color-sombra);
}

.jd-photo:hover {
  box-shadow: 1px 1px 25px var(--color-sombra);
  transition-delay: 0.2s;
  height: 36dvh;
}

@media (max-width: 1360px){
  .jd-photo {
    height: 30dvh;
  }

  .jd-photo:hover {
    height: 31dvh;
  }
}

@media (max-width: 1100px){
  .jd-photo {
    height: 20dvh;
  }

  .jd-photo:hover {
    height: 31dvh;
  }
}

@media (max-width: 490px){
  .jd-photo {
    height: 10dvh;
  }

  .jd-photo:hover {
    height: 11dvh;
  }
}


/* Iconos */
.hyperlink:hover {
  height: 55px;
  width: 55px;
  transition-delay: 0.2s;
}